#maintable {
    width: 100%;
    height: 90%;
    background-color: #D2E0E6;
}

#maintable td {
    padding: 15px;
    width: 50%;
    vertical-align: top;
}

.bubble {
	margin-top: 0.5em;
	padding: 1em;
	
	background-color: #fff;
	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	
	box-shadow: inset 0px 2px 13px #999;
	-moz-box-shadow: inset 0px 2px 13px #999;
	-webkit-box-shadow: inset 0px 2px 13px #999;
}

h3 {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0.5px;
}

#make-quiz-bubble {
    width: 30em;
    height: 20em;
    margin-left: 50px;
    margin-top: 40px;
    background: #F38630;
    padding: 1em;
    text-align: center;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

    box-shadow:  0px 2px 13px #999;
    -moz-box-shadow:  0px 2px 13px #999;
    -webkit-box-shadow:  0px 2px 13px #999;
}

#make-quiz-bubble > div {
    margin-top: 6em;
    font-weight: bold;
    font-size: large;
}

#back_up {
    position: absolute;
    color: #F38630;
    right: 1em;
    text-decoration: none;
}

ul a {
    font-weight: bold;
    text-decoration: none;
}

li {
    margin-bottom: 10px;
}

/* ************* */

#qunit-header, #qunit-banner, #qunit-testresult {
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	margin: 0;
	padding: 0;
}

#qunit-header {
	padding: 0.5em 0 0.5em 1em;
	
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 4px 4px 1px;
	background-color: #0d3349;
	
	border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
}

#qunit-banner {
    height: 5px;
    background-color: #C6E746;
}

#qunit-testresult {
	padding: 0.5em 0.5em 0.5em 2.5em;
	
	color: #2b81af;
	background-color: #D2E0E6;

	border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;	
}