body {
    margin-left: 200px;
    margin-right: 200px;
}

#questions {
    background-color: #D2E0E6;
    border: thin #D2E0E6 solid;
    padding: 0.4em 0.5em 0.4em 0.5em;
}

.question {
    margin-left: 10px;
}

.answers {
    margin-left: 30px;
}

.answers > div {
    padding-bottom: 10px;
}

.quiz-question {
	margin-top: 0.5em;
	padding: 0.5em;
	
	background-color: #fff;
	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	
	box-shadow: inset 0px 2px 13px #999;
	-moz-box-shadow: inset 0px 2px 13px #999;
	-webkit-box-shadow: inset 0px 2px 13px #999;
}

#qunit-header, #qunit-banner, #qunit-testresult {
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	margin: 0;
	padding: 0;
}

#qunit-header {
	padding: 0.5em 0 0.5em 1em;
	
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 4px 4px 1px;
	background-color: #0d3349;
	
	border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
}

#qunit-banner {
    height: 5px;
    background-color: #C6E746;
}

#qunit-testresult {
	padding: 0.5em 0.5em 0.5em 2.5em;
	
	color: #2b81af;
	background-color: #D2E0E6;

	border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;	
}

#back_up {
    position: absolute;
    color: #F38630;
    right: 230px;
    text-decoration: none;
}