<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Create New Quiz</title>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/ui-lightness/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="/static/edit.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript"
src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/json2.js"></script>
<script type="text/javascript" src="/static/edit.js"></script>
</head>

<body>
<h1 id="qunit-header">Create New Quiz</h1>
<h2 id="qunit-banner" class="qunit-pass"></h2>

<div id="title-p"><b class="title-label">Title:</b><br />
<input type="text" name="title-input" id="title-input"></div>

<div id="questions">

<div class="quiz-question">
  <div class="label">Question:</div>
  <textarea rows="1" cols="1"></textarea><br />
  <div class="label">Answers (check the right one):</div>
  <div class="answers">
    <input type="radio" value="0" name="FIXME" class="checkbox" checked="true">
    <input type="text" class="answer"><br />

    <input type="radio" value="1" name="FIXME" class="checkbox">
    <input type="text" class="answer"><br />

    <input type="radio" value="2" name="FIXME" class="checkbox">
    <input type="text" class="answer"><br />

    <input type="radio" value="3" name="FIXME" class="checkbox">
    <input type="text" class="answer"><br />
 </div>
</div>

</div>

<div id="qunit-testresult">
<table><tr><td><button id="addquestion">Add Question</button></td>

<td><form action="/do/save_quiz" method="post">
  <input type="hidden" name="json" id="quiz-json" />
  <input type="submit" value="Save Quiz" />
</form></td></tr></table>
</div>

</body> </html>
