<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html> <head>
<title>Quiz: {{ title_text }}</title>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/ui-lightness/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="/static/view.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript"
src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/view.js"></script>
</head>

<body>
<h1 id="qunit-header">{{ title }} <a href="/" id="back_up">Koala Quiz</a></h1>
<h2 id="qunit-banner"></h2>

<div id="questions">
{% for question in questions %}
<div class="quiz-question">
  <div class="question">{{ question.question }}</div>

  <div class="answers">
    {% for answer in question.answers %}
    <div>
    <input type="radio" value="{{ forloop.counter0 }}"
           name="rad{{ forloop.parentloop.counter0 }}"
           id="rad{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
           class="checkbox">
    
    <label for="rad{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}">{{ answer.0 }}</label>
    </div>
    {% endfor %}
 </div>
</div>
{% endfor %}
</div>

<div id="qunit-testresult">
  <button id="submit">Submit answers</button>
</div>

</body> </html>
